@font-face {
font-family: heliotrope_4;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_4_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_4_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_4_bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_4;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_4_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_a_regular.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_a_regular.woff2') format('woff2');
}


@font-face {
font-family: triplicate_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/triplicate_a_regular.woff2') format('woff2');
}

@font-face {
font-family: advocate_35_narr;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/advocate_35_narr_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_34_narr;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/advocate_34_narr_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_15_cond;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/advocate_15_cond_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_14_cond;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/advocate_14_cond_reg.woff2') format('woff2');
}