/* ==========================================================================
   STYLES.CSS - Main stylesheet
   ========================================================================== */

/* Navigation links */
.nav-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
}

html {
  scroll-behavior: smooth;
}

/* ==========================================================================
   TEXT SIZE CLASSES (replacements for deprecated <font size=X> tags)
   
   These use CSS font-size keywords which match the HTML font size attribute:
   size=3 → medium (browser default, typically 16px)
   size=4 → large (typically ~18px)
   size=5 → x-large (typically ~24px)
   size=6 → xx-large (typically ~32px)
   ========================================================================== */

.text-size-3 {
  font-size: medium;
}

.text-size-4 {
  font-size: large;
}

.text-size-5 {
  font-size: x-large;
}

.text-size-6 {
  font-size: xx-large;
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

body {
  padding: 20px;
  padding-bottom: 0px;
  font: large/1.5 "heliotrope_4";
  color: #000;
  font-weight: 401;
}



/* ==========================================================================
   COMPONENTS
   ========================================================================== */

/* Top bar */
.top {
  width: 95%;
  position: fixed;
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #b2b2b2;
}

/* Items container */
.items {
  background-color: #ffffff;
  width: 100%;
  padding-top: 50px;
}

/* Side bar */
.sidebar {
  position: fixed;
  left: 45px;
  top: 25px;
  width: 200px;
  font-style: italic;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #777777;
  text-decoration: none;
}

.sidebar a:hover {
  color: #AA3333;
  text-decoration: none;
  transition: color 0s;
}

/* App boxes with image and text */

.app_top {
  display: flex;
  flex-direction: column;
  background: #f9f5f0;
  color: #777;
  font-style: italic;
  font-size: medium;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.app_top.paper {
  margin-top: 0px;
  margin-bottom: 35px;  
}

.app_top img {
  width: 100%;
}

.app_top span {
  padding-top: 10px;
  padding-left: 5px;
}

.app_right {
  display: flex;
  align-items: flex-end;
  background: #f9f5f0;
  color: #777;
  font-style: italic;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 25px;  
}

.app_right.paper {
  margin-top: 0px;
  margin-bottom: 35px;  
}

.app_right img {
  margin-left: 20px;
  flex-shrink: 0;
}

.app_right span {
  text-align: right;
  padding-bottom: 5px;
  padding-left: 5px;
  flex: 1;
}

.app_left {
  display: flex;
  align-items: flex-end;
  background: #f9f5f0;
  color: #777777;
  font-style: italic;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 25px;  
}

.app_left.paper {
  margin-top: 0px;
  margin-bottom: 35px;  
}

.app_left img {
  margin-right: 20px;
  flex-shrink: 0;
}

.app_left span {
  text-align: left;
  padding-bottom: 5px;
  padding-right: 5px;
  flex: 1;
}

.app_resource {
  display: flex;
  background: #f9f5f0;
  color: #444444;
  font-size: medium;
  margin-top: 25px;
  margin-bottom: 25px;  
  border-top: 1px #c9c5c0 solid;
/*  border-bottom: 1px #c9c5c0 solid;*/
  padding: 12px 10px;
}

.app_resource .image-container {
  width: 130px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_resource img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.app_resource img.img-framed {
  border: 1px solid #c9c5c0;
}

.app_resource .title {
  margin-bottom: 2px;
}

.app_resource .title a {
  color: #AA3333;
  text-decoration: none;
}

.app_resource .res-title {
  font-weight: bold;
}

.app_resource .res-author {
  font-style: italic;
}

.app_resource .title a:hover {
  text-decoration: underline;
}

.app_resource .attributes {
  font-style: italic;
  color: #555;
  margin-bottom: 2px;
}

.app_resource .description {
  color: #444;
}

/*.app_resource img {
  margin: 15px 10px 15px 20px;
  height: 125px;
  flex-shrink: 0;
}*/

/*.app_resource img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.app_resource span {
  text-align: left;
  margin: 20px;  
  flex: 1;
}*/

/* Summary box - highlighted intro sections on research pages */
.summary {
  font-family: "valkyrie_a";
  font-size: 95%;
  border-bottom: 2px #c9c5c0 solid;
  padding: 1.5rem;
  border-top: 2px #c9c5c0 solid;
  background: #f9f5f0;
  margin-left: 0%;
  margin-right: 0%;
  line-height: 1.6;
}

.row-spacing {
  font-size: medium;
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

b {
  font: 16px/1.5 "heliotrope_4";
  font-weight: bold;
  color: #000;
}

h1 {
  margin: 20px 0 25px;
}

h2, h3, h4, h5, h6 {
  margin: 25px 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 32px;
  color: #494949;
}

h3 {
  font-size: 24px;
}

h4 {
  border-top: 2px solid #c5c5c5;    /* Line above */
  border-bottom: 2px solid #d5d5d5; /* Line below */
  padding: 10px 0 9px 0;            /* Spacing between text and lines */ 
  margin: 75px 0 30px 0;
  font-weight: bold;
  font-size: 22px;
/*  color: #494949;*/
  color: #777777;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 22px;
  color: #494949;
}

strong {
  color: #222;
  font-weight: 700;
}

small {
  font-size: 11px;
}

/* ==========================================================================
   IMAGES
   ========================================================================== */

img {
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-rounded-border {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* ==========================================================================
   LINKS
   ========================================================================== */

a {
  color: #AA3333;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #902020;
}

a:focus {
  text-decoration: none;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

.container {
  display: flex;
}

.wrapper {
  width: 750px;
  margin: 0 auto;
}

.thin-wrapper {
  width: 100px;
  padding: 0px;
}

section {
  width: 750px;
  float: right;
  padding-bottom: 10px;
}

/* ==========================================================================
   BLOCKQUOTES & CODE
   ========================================================================== */

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: "triplicate_a";
  color: #333;
  font-size: 13px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

/* ==========================================================================
   HEADER (legacy from template)
   ========================================================================== */

header {
  width: 100px;
  float: left;
  position: fixed;
}

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width: 570px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 40px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px;
}

header ul li + li {
  width: 88px;
  border-left: 1px solid #fff;
}

header ul li + li + li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

/* ==========================================================================
   HORIZONTAL RULES
   ========================================================================== */

hr {
  border: 0;
  background: #c5c5c5;
  height: 2px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

hr.wide {
  border: 0;
  background: #c5c5c5;
  height: 2px;
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

/* ==========================================================================
   FOOTER (legacy from template)
   ========================================================================== */

footer {
  width: 570px;
  float: left;
  position: fixed;
  bottom: 50px;
}

/* ==========================================================================
   RESPONSIVE STYLES
   ========================================================================== */

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header ul {
    display: none;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
